@import '../../../styles/settings.scss';

.flag {
  width: 100px;
  max-width: 100px;
}

.intro {
  margin: 0 0 ($base-size * 3) 0;
}

.standard {
  color: grey;
  font-size: 16px;
  margin-top: 0;
}

.promo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;

}